/**
 * Theme for lesfurets.com
 *
 * orange #f07d00
 * blue #3335a2
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #3335a2;
  background-image: url("../png/bg-dots.png"), radial-gradient(circle 1000px at top center, #3439b3 40%, #161875 60%);
  background-image: url("../png/bg-dots.png"), -webkit-radial-gradient(top center, circle 1000px, #3439b3 40%, #161875 60%);
  background-image: url("../png/bg-dots.png"), radial-gradient(circle 1000px at top center, #3439b3 40%, #161875 60%);
}

.reveal {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; 
}

::selection {
  color: white;
  background: #f07d00;
  text-shadow: none; 
}

.strike {
  text-decoration: line-through;
}

.under {
  text-decoration: underline;
}

.reveal em {
  color: white;
}

/*********************************************
 * OPENING SLIDE
 *********************************************/
.reveal .opening {
  background-color: white;
  background-image: none;
}

.reveal .opening-title {
  color: black;
  text-transform: none;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1 {
  font-size: 150%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0.9em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
}

.reveal h1.lower,
.reveal h2.lower,
.reveal h3.lower,
.reveal h4.lower,
.reveal h5.lower,
.reveal h6.lower {
  text-transform: lowercase;
}

.reveal h3 {
  border-bottom: 1px solid #ff971c;
  border-bottom: 1px solid #8e8ff4;
  padding: 0 20px 20px 20px;
  margin: 0 100px 10px 100px;
  margin: 0 50px 10px 50px;
}

/*********************************************
 * BLOCKQUOTES
 *********************************************/
.reveal blockquote {
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
}

/*********************************************
 * PARAGRAPHS
 *********************************************/

.reveal p {
  color: #eeeeee;
  padding: 25px 100px;
  padding: 25px 0;
}

.reveal .centered {
  margin-left:auto;
  margin-right:auto;
}

/*********************************************
 * LISTS
 *********************************************/

.reveal li {
  padding: 5px;
}

.reveal li.emptyline {
  padding: 5px 5px 40px 5px;
}

.reveal ul {ffooter
  list-style-type: disc;
  display: inline-block;
  text-align: left;
}

/*********************************************
 * Flex box layout
 *********************************************/

.container-grid-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-grid-2 > * {
    flex: 0 0 auto;
    width: 50%;
}

.container-grid-2 > ul {
    padding-top: 15px;
}

.container-grid-40p {
    flex: 0 0 auto;
    width: 40%;
}

.container-grid-60p {
    flex: 0 0 auto;
    width: 60%;
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #f07d00;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:not(.image):hover {
  color: #71e9f4;
  text-shadow: none;
  border: none; 
}

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5; 
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  margin: 10px 0px;
  border: 1px solid black;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.50);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; 
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.reveal .herve-francois {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.reveal section img.nostyle {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.reveal a:hover img {
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); 
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  height: 90px;
  width: 90px;
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #f07d00;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #f07d00;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #f07d00;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #f07d00; 
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f07d00; 
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f07d00; 
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f07d00; 
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f07d00; 
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); 
}

.reveal .progress span {
  background: #f07d00;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); 
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #13daec; 
}

/*********************************************
 * FOOTER
 *********************************************/
.footer {
  background-color: white;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.footer .link {
  display: block;
}
.footer .logo-softshake,
.footer .logo-lesfurets {
  height: 60px;
}
.footer .logo-softshake {
  padding: 10px;
}
.footer .logo-lesfurets {
  float: right;
  padding: 10px;
}
.footer a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.footer a:last-child {
  margin-right: 0;
}