/**
 * Theme for lesfurets.com
 *
 * gray-green #59B2AC
 * dark-gray #0D1517
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #034a5e;
  background-image: linear-gradient(#003647, #006576);
  background-image: -webkit-linear-gradient(#003647, #006576);
}

.reveal {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; 
}

::selection {
  color: white;
  background: #59B2AC;
  text-shadow: none; 
}

.strike {
  text-decoration: line-through;
}

.under {
  text-decoration: underline;
}

.reveal em {
  color: white;
  font-style: italic;
}

.reveal strong {
  color: white;
  font-weight: bold;
}

.reveal code {
  font-family: monospace;
  background-color: #424242;
  padding: 0 5px;
}

.reveal p {
  line-height: 1.25;
}

/*********************************************
 * OPENING SLIDE
 *********************************************/
.reveal .opening {
  background-color: white;
  background-image: none;
}

.reveal .opening-title {
  color: black;
  text-transform: none;
  font-size: 250%;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1 {
  font-size: 150%;
}
.reveal h1.code {
  font-family: monospace;
  text-align: left;
  text-transform: inherit
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0.9em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
}

.reveal h1.lower,
.reveal h2.lower,
.reveal h3.lower,
.reveal h4.lower,
.reveal h5.lower,
.reveal h6.lower {
  text-transform: lowercase;
}

.reveal h3 {
  border-bottom: 1px solid #59B2AC;
  border-bottom: 1px solid white;
  padding: 0 20px 20px 20px;
  margin: 0 100px 10px 100px;
  margin: 0 50px 10px 50px;
}

/*********************************************
 * BLOCKQUOTES
 *********************************************/
.reveal blockquote {
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
}

/*********************************************
 * PARAGRAPHS
 *********************************************/

.reveal p {
  color: #eeeeee;
  padding: 25px 100px;
  padding: 25px 0;
}

.reveal .centered {
  margin-left:auto;
  margin-right:auto;
}

/*********************************************
 * LISTS
 *********************************************/

.reveal li {
  padding: 5px;
}

.reveal li.emptyline {
  padding: 5px 5px 40px 5px;
}

.reveal ul {
  list-style-type: disc;
  display: inline-block;
  text-align: left;
}

/*********************************************
 * LAYOUT
 *********************************************/

.reveal .center {
  text-align: center;
}

.reveal .flushleft {
  text-align: left;
}

.reveal .flushright {
  text-align: right;
}

.reveal .horizontal {
  white-space: nowrap;
}

.reveal .horizontal .column {
  display: inline-block;
  vertical-align: top;
}

.reveal .horizontal .column.column-2 {
  width: 49%;
  white-space: normal;
}

/*********************************************
 * Flex box layout
 *********************************************/

.container-grid-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-grid-2 > * {
    flex: 0 0 auto;
    width: 50%;
}

.container-grid-2 > ul {
    padding-top: 15px;
}

.container-grid-40p {
    flex: 0 0 auto;
    width: 40%;
}

.container-grid-60p {
    flex: 0 0 auto;
    width: 60%;
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #59B2AC;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:not(.image):hover {
  color: #59B2AC;
  text-shadow: none;
  border: none; 
}

.reveal .roll span:after {
  color: #fff;
  background: #59B2AC; 
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  margin: 10px 0px;
  border: 1px solid black;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.50);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; 
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.reveal .herve-francois {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.reveal .failure-cause {
  border: none;
  border-left: #eeeeee;
  border-left-width: 10px;
  border-left-style: solid;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

.reveal section img.nostyle {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.reveal a:hover img {
  border-color: #59B2AC;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); 
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  height: 90px;
  width: 90px;
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #0D1517;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #0D1517;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #0D1517;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #0D1517; 
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #0D1517; 
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #0D1517; 
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #0D1517; 
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #0D1517; 
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); 
}

.reveal .progress span {
  background: white;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); 
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #59B2AC; 
}

/*********************************************
 * FOOTER
 *********************************************/
.footer {
  background-image: url("../png/ocode-bg.png");
  background-color: #34495e;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.footer .link {
  display: block;
}

.footer .logo-lesfurets {
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}

.footer .logo-conference {
  height: 60px;
  margin: 5px;
  float: right;
  padding: 5px;
}

.footer a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.footer a:last-child {
  margin-right: 0;
}

.footer .opening-logo-softshake {
  width: 100%;
}
.footer .openinglogo-softshake {
  padding: 10px;
}

.hljs.hljs.hljs {
  text-align: left;
  font-family: monospace;
}

.reveal .code-wrapper {
    font-size: 0.75em;
    position: relative;
    right: 50%;
    text-align: center;
}

.reveal p {
    padding-left: 10%;
    padding-right: 10%;
}

.reveal p.quote {
    font-size: 0.9em;
}

.reveal .code-wrapper.small {
    font-size: 0.7em;
}

.reveal .code-wrapper.smaller {
    font-size: 0.55em;
}

.reveal code.code {
    display: inline-block;
    font-family: monospace;
    line-height: 1.25;
    padding: 5px 20px;
    text-align: left;
    overflow: hidden;
    margin-right: -100%;
}

/*********************************************
 * Google code prettifu
 *********************************************/

pre.prettyprint,
code.prettyprint {
  background-color: transparent !important;
  width: inherit !important;
  margin: inherit !important;
  padding: inherit !important;
}

pre mark .pln,
code mark .pln,
pre mark .typ,
code mark .typ,
pre mark .pun,
code mark .pun {
  color: #000 !important;
}

pre .pln.doov {
  font-weight: bold;
  color: white;
}

pre .pln.operator {
  font-weight: bold;
  color: #fffcad;
}

mark.true-predicate {
  background-color: lightgreen;
}

mark.false-predicate {
  background-color: lightcoral;
}

code.output {
  background-color: white;
}

code.output span.pln,
code.output span.pun {
  color: black !important;
}

@media print {
  .reveal code {
    background-color: white;
  }
  pre mark .pln,
  code mark .pln,
  pre mark .typ,
  code mark .typ,
  pre mark .pun,
  code mark .pun {
    color: black;
  }

  pre .pln.doov {
    font-weight: bold;
    color: black;
  }

  pre .pln.operator {
    font-weight: bold;
    color: black;
  }

  code.output {
    background-color: white;
  }

  code.output span.pln,
  code.output span.pun {
    color: black;
  }
}